
body{
  background:linear-gradient(45deg,yellow,rgb(166, 18, 139),blueviolet);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}
.number{
   padding: 12px 12px;
   border-radius: 10px;
   border: none;
   outline: none;
   background-color: blue;
   color: aliceblue;
   font-size: 40px;
   max-width: 400px;
   width: 100%;
   margin: 5px;
}
#form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 70px;
  font-weight: 900;
  color: rgb(87, 255, 20);
}
.btn{
 padding: 8px 23px;
 font-size: 28px;
 border-radius: 10px;
 border: none;
 outline: none;
 color: rgb(14, 12, 13);
}


