
body{
  background:linear-gradient(45deg,yellow,rgb(166, 18, 139),blueviolet);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  height: 100vh;
  overflow: hidden;
 

color: aqua;}
.nav{
  gap: 30px;
  font-size: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.number{
   padding: 12px 12px;
   border-radius: 10px;
   border: none;
   outline: none;
   background-color: blue;
   color: aliceblue;
   font-size: 35px;
   width: 300px;
   margin: 5px;
}
.number::placeholder{
  font-size: 25px;
}
.select{
  padding: 12px 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(14, 164, 19);
  color: aliceblue;
  font-size: 35px;
  width: 300px;
  margin: 5px;
}
.btn{
 padding: 8px 23px;
 font-size: 28px;
 border-radius: 10px;
 border: none;
 outline: none;
 color: rgb(14, 12, 13);
 background-color: chocolate;
}
.refresh{
  padding: 8px 23px;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(14, 12, 13);
  background-color: chocolate;
  margin-top: 40px;
  display: none;
}
.refresh1{
  padding: 8px 23px;
  font-size: 28px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: rgb(14, 12, 13);
  background-color: chocolate;
  margin-top: 40px;
  display: block;
}
